  * {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif; 
  }
  #header-background{
    width:100%;
    height:100%;
    position: relative;
    background:url("https://user-images.githubusercontent.com/70481621/94863507-77d11880-0432-11eb-9701-a70ff697bff7.jpg") 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background: beige;
    
  }
  #main {
    display: flex;
    flex: 1;
  }
  #main > article {
    flex: 1;
    order: 1;
  }
 .img > article {
    width: 100%;
  }
  #main > nav{
    flex: 0 0 10vw;
    background: beige;
  }
  .box> nav {
    background:beige;
    order: 3;
  }
 
 .head{
    color:black;
    background:rgba(245, 245, 220, 0.521);
    width: 50%;
    height: auto;
    padding: 2px;
    
   

  }
  footer{
    background: beige;
    height: 05vh;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }